<div class="wrapper">
  <div class="left-block">
    <div class="grid-block">
      <div class="grid">
        <label>No of available agents</label>
        <span>1</span>
      </div>
      <div class="grid"></div>
    </div>
    <div class="grid-block">
      <div class="grid"></div>
      <div class="grid"></div>
    </div>
    <div class="table">
      <p>
        <span>Staff Name</span>
        <span>Agent Status</span>
        <span>State</span>
        <span>In/Out Bound</span>
        <span>Time</span>
      </p>
      <p>
        <span>madhu</span>
        <span>Available</span>
        <span>Available</span>
        <span></span>
        <span>00.09877876</span>
      </p>
    </div>
    <div class="table">
      <p>
        <span>% ACD</span>
        <span>% ACW</span>
        <span>% AHT</span>
        <span>% AUX</span>
        <span>% Available</span>
        <span>Calls Answered</span>
        <span>% Total</span>
      </p>
      <p>
        <span>43</span>
        <span>6</span>
        <span>5</span>
        <span>10</span>
        <span>2</span>
        <span>2</span>
        <span>20</span>
      </p>
    </div>
  </div>
  <div class="center-block">
    <!-- <div style="position:relative">
      <div class="c100 p74 big">
        <span class="font-family-Avenir font-size-super">74%</span>
        <div class="slice">
          <div class="bar"></div>
          <div class="fill"></div>
        </div>
        <p class="complete-text font-family-primary font-weight-regular"></p>
      </div>
    </div> -->
  </div>
  <div class="right-block">
    <div class="grid-block">
      <div class="grid"></div>
      <div class="grid"></div>
      <div class="grid"></div>
    </div>
    <div class="grid-block">
      <div class="grid"></div>
      <div class="grid"></div>
      <div class="grid"></div>
    </div>
    <div class="grid-block">
      <div class="grid"></div>
      <div class="grid"></div>
      <div class="grid"></div>
    </div>
    <div class="grid-block">
      <div class="grid"></div>
      <div class="grid"></div>
      <div class="grid"></div>
    </div>
  </div>
</div>