<div class="wrapper">
  <div class="left-block">
    <div class="grid-block">
      <div class="grid">
        <label>No of available agents</label>
        <span>1</span>
      </div>
      <div class="grid"></div>
    </div>
    <div class="grid-block">
      <div class="grid"></div>
      <div class="grid"></div>
    </div>
  </div>
  <div class="center-block">
    <!-- <div style="position:relative">
      <div class="c100 p74 big">
        <span class="font-family-Avenir font-size-super">74%</span>
        <div class="slice">
          <div class="bar"></div>
          <div class="fill"></div>
        </div>
        <p class="complete-text font-family-primary font-weight-regular"></p>
      </div>
    </div> -->
  </div>
  <div class="right-block">
    <div class="grid-block">
      <div class="grid"></div>
      <div class="grid"></div>
      <div class="grid"></div>
      <div class="grid"></div>
      <div class="grid"></div>
      <div class="grid"></div>
    </div>
    <div class="grid-block">
      <div class="grid"></div>
      <div class="grid"></div>
      <div class="grid"></div>
      <div class="grid"></div>
      <div class="grid"></div>
      <div class="grid"></div>
    </div>
  </div>

  <kendo-grid [data]="gridData" [height]="450">
    <kendo-grid-column title="Staff Name" field="staffName">
    </kendo-grid-column>
    <kendo-grid-column title="Agent Status" field="agentStatus">
    </kendo-grid-column>
    <kendo-grid-column title="State" field="state">
    </kendo-grid-column>
    <kendo-grid-column title="In/Out Bound" field="bound">
    </kendo-grid-column>
    <kendo-grid-column title="Time" field="time">
    </kendo-grid-column>
    <kendo-grid-column title="% ACD" field="acd">
    </kendo-grid-column>
    <kendo-grid-column title="% ACW" field="acw">
    </kendo-grid-column>
    <kendo-grid-column title="% AHT" field="aht">
    </kendo-grid-column>
    <kendo-grid-column title="% AUX" field="aux">
    </kendo-grid-column>
    <kendo-grid-column title="% Available" field="available">
    </kendo-grid-column>
    <kendo-grid-column title="Calls Answered" field="callsAnswered">
    </kendo-grid-column>
    <kendo-grid-column title="% Total" field="total">
    </kendo-grid-column>
  </kendo-grid>


</div>